html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #ff8b3d;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#newPrison {
    background-color: #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 95px auto;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);

}

#newPrison h1 {
    background-color: #292829;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#newPrison fieldset {
    border: none;
    padding: 20px;
    position: relative;
}


#newPrison fieldset form {
    overflow: hidden;
    width: 270px;
}

#newPrison fieldset form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    -webkit-appearance:none;
    width: 260px;
    align: center;
    position: center;


}

#newPrison fieldset form input[type="text"] {
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    padding: 12px 10px;
    -webkit-appearance:none;
}

#newPrison fieldset form input[type="number"] {
    border: 1px solid #292829;
    border-top: none;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    padding: 12px 10px;
    -webkit-appearance:none;
}


#newPrison fieldset form input[type="submit"] {
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
    -webkit-appearance: none;
}

#newPrison fieldset form input[type="submit"]:hover {
    background-color: #e0e0e0;
}

#newPrison fieldset form span:before {
    background-color: #c9c9c9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "?";
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}

#newPrison fieldset form span {
    font-size: 12px;
    margin-top: 40px;
}